h1{
    font-family: "Creepster", system-ui;
}

h3{ font-family: "Anta", sans-serif;
}
p{
    font-family: "Shadows Into Light", cursive;
    border:1px solid black;
    width: 900px;
    height: 350px;
    margin: 100px;
    background-color: rgb(194, 238, 155);
}
body{ background-color: rgb(183, 233, 233);
  
}
h4{   font-family: "Dancing Script", cursive;

}